{% extends "learning_logs/base.html" %} 
{% load bootstrap4 %}
{% block page_header %}
<h3>Workout Cards</h3>
{% endblock page_header %} 
{% block content %}

<ul>
  {% for workout in workouts %}
  <div class="card mb-3">
    <a href="{% url 'learning_logs:workout' workout.id %}">
      <h4 class="card-header">{{ workout.name }}</h4>
      <br />
    </a>
    <p>
      <a
        class="button-two"
        href="{% url 'learning_logs:edit_workout' workout.id%}"
        role="button"
      >
        Edit workout
      </a>
      <a
        class="button-three"
        href="{% url 'learning_logs:delete_workout' workout.id%}"
        role="button"
        >Delete</a
      >
 
    </p>

    
  </div>
  {% empty %}
  <p>There are no workouts yet.</p>
  {% endfor %}
</ul>
<ul>
  {% for workout in workout_deck %}
  <div class="card mb-3">
    <a >
      <h4 class="card-header">{{ workout.name }}</h4>
      <br />
      <h4 class="card-header">{{ workout.workouts_built_deck }}</h4>
    </a>
  
  </div>

  {% empty %}
  <p>There are no workout decks yet.</p>
  {% endfor %}
<p>
  <button
    class="button-one"
    onclick="{window.location.href={% url 'learning_logs:new_workout' %}}"
  >
    Add a new workout
  </button>     
  <a
      class="button-two"
      href="{% url 'learning_logs:new_workout_deck'%}"
   
      role="button"
      id="deck"
      >Add to deck</a
    >
</p>

<script type="text/javascript">
        


</script>
{% endblock content %}
