@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700italic);


h1, button{
  color:white;
  text-align: center;
 
  
}

.button-one {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(41, 86, 104);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left: 50px;
  }
  
  .button-one:hover {background-color: skyblue}
  
  .button-one:active {
    background-color: skyblue;
    box-shadow: 0 5px skyblue;
    transform: translateY(4px);
  }


  .button-two {
    display: inline-block;
    padding: 5px 15px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgba(65, 65, 26, 0.986);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button-two:hover {background-color: yellow}
  
  .button-two:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


  .button-three {
    display: inline-block;
    padding: 5px 15px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(104, 17, 17);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button-three:hover {background-color: red}
  
  .button-three:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }