body {
    background: #050895d8;
}
h1,
h2,
h3 {
    color: white;
 
    text-align: left;
}

p {
    text-align: center;
    font-size: large;
}


#jumbo {
    background-color: skyblue;
   
}

#space {
    height: 1500px;
}

#workout-card {
    color: white;
}

#txt-white {
    color: white;
}

.txt-white {
    color: white;
}

#txt-black {
    color: black;
}


#blue-bg {
    background-color: skyblue;
}

#workout-txt {
    font-size: 30px;
}

#light-gray-bg {
    background-color: lightgray;
}

#white-bg {
    color: black;
  background-color: white;
}

#stop-watch {
  
   background-color: white;
}

#big-boy {

background: url("/static/images/thee_archive.jpg") no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

}

#lrg-txt {
    font-size: larger;
}

#dark-blue-bg {
    background-color: rgba(17, 107, 167, 0.746);
}


