.big_boy{
    background-image: url("{% static 'images/thee_archive.jpg' %}"); 
    background-position: center; 
    background-repeat: no-repeat;
}

h1,
h2,
h3 {
    color: white;
 
    text-align: left;
}


a,
p {
    color: white;
    text-align: center;
    font-size: 20px;
}

#jumbo {
    background-color: skyblue;
}

#workout-card {
    color: white;
}

#txt-white {
    color: white;
}

#txt-black {
    color: black;
}

#blue-bg {
    background-color: skyblue;
}

.blug-bg {
    background-color: skyblue;
}