{% extends 'learning_logs/base.html' %}

{% block page_header %}
<h3>Custom charts based off {{user.username}}'s Archives</h3>

{% endblock page_header %}

{% block content %}


<section class="section">
    <section class="container">
    <section class="content">
        <div class="card mb-3" style="background-color: rgb(68, 63, 63);"> 
    <canvas id="myChart" width="400" height="100" style="max-width: 90%;"></canvas>
</div>
    <br>
    <div class="card mb-3" style="background-color: rgb(68, 63, 63);"> 
    <canvas id="myEntries" width="400" height="100" style="max-width: 90%;"></canvas>
    <br>
    </div>
    <div class="card mb-3" style="background-color: rgb(68, 63, 63);"> 
    <canvas id="myWorkouts" width="400" height="100" style="max-width: 90%;"></canvas>
</div>
<div class="card mb-3" style="background-color: rgb(68, 63, 63);"> 
    <canvas id="myPRs" width="400" height="100" style="max-width: 90%;"></canvas>
</div>

<script>
var topics = document.getElementById('myChart');

var myChart = new Chart(topics, {
    type: "bar",
    title: "{{ topics_results}}",
    data: {
         labels: "{{labels}}",
        datasets: [{
           
        }]
    }
});


</script>
    </section>
    </section>
    </section>
{% endblock %}