{% extends 'learning_logs/base.html' %} 
{% block page_header %}
<h3>
  Custom charts based off <span id="u-name">{{user.username}}</span>'s logs
</h3>

{% endblock page_header %} 
{% block content %}
{% if user.is_authenticated %}
<section class="section">
  <section class="container">
    <section class="content">
      <div class="card mb-3" style="background-color: rgb(68, 63, 63)">
        <canvas
          id="myChart"
          width="400"
          height="100"
          style="max-width: 90%"
        ></canvas>
      </div>
      <br />
      <div class="card mb-3" style="background-color: rgb(68, 63, 63)">
        <canvas
          id="myTopics"
          width="400"
          height="100"
          style="max-width: 90%"
        ></canvas>
        <br />
      </div>
      <div class="card mb-3" style="background-color: rgb(68, 63, 63)">
        <canvas
          id="myWorkouts"
          width="400"
          height="100"
          style="max-width: 90%"
        ></canvas>
      </div>
      <div class="card mb-3" style="background-color: rgb(68, 63, 63)">
        <canvas
          id="myStats"
          width="400"
          height="100"
          style="max-width: 90%"
        ></canvas>
      </div>
      {% endif %}
      <!-- All users workouts chart starts here -->
      <script >

           var myData= {{ serialized_data | safe }};
         var key = "workout";
        var current_user = "logged_user";

        var graph = [myData[key]];
        var count = 0;
        var count_array = [];

        for(var i = 0; i < graph.length; i++)
        {
            graph[i] = myData[key];

        }

        for(var i = 0; i < graph[0].length; i++) {
            count += 1;
            console.log(count);
            count_array[i] = count;
        }

        console.log("The labels: " + count_array);
        console.log("The array that holds the workouts ids:" + " " + graph);
        console.log("The object that holds the workouts and current authenticated users id: ");

        console.log(myData);

        var userName = document.getElementById("u-name").innerHTML;
        var context = document.getElementById('myWorkouts').getContext('2d');

        var myChart = new Chart(context, {
            type: 'bar',
            data: {
                labels: ["All users"],
                datasets: [{
                    label: '# of Workouts from all users',
                    data: [count],
                    backgroundColor: [
                        'rgba(34, 139, 34, 0.2)',
                        'rgba(34, 139, 34, 0.2)',
                        'rgba(34, 139, 34, 0.2)',
                        'rgba(34, 139, 34, 0.2)',
                        'rgba(34, 139, 34, 0.2)',
                        'rgba(34, 139, 34, 0.2)'
                    ],
                    borderColor: [
                        'rgba(34, 139, 34, 1)',
                        'rgba(34, 139, 34, 1)',
                        'rgba(34, 139, 34, 1)',
                        'rgba(34, 139, 34, 1)',
                        'rgba(34, 139, 34, 1)',
                        'rgba(34, 139, 34, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
      </script>
      <!-- All users workouts chart ends here -->

            <!-- All users topics chart starts here -->
      <script >

        var context = document.getElementById('myTopics').getContext('2d');
        var topics = {{ serialized_data | safe}};
        var key = "topic";
        var graph_2 = [topics[key]];
        var count = 0;
        var count_array = [];
        console.log(topics);
        for(var i = 0; i < graph_2.length; i++)
        {
            graph[i] = myData[key];

        }

        for(var i = 0; i < graph_2[0].length; i++) {
            count += 1;
            console.log(count);
            count_array[i] = count;
        }


        var myChart = new Chart(context, {
            type: 'bar',
            data: {
                labels: ["All topics"],
                datasets: [{
                    label: '# of Topics from all users',
                    data: [count],
                    backgroundColor: [
                        'rgba(135,206,235, 0.2)',
                        'rgba(135,206,235, 0.2)',
                        'rgba(135,206,235, 0.2)',
                        'rgba(135,206,235, 0.2)',
                        'rgba(135,206,235, 0.2)',
                        'rgba(135,206,235, 0.2)'
                    ],
                    borderColor: [
                        'rgba(135,206,235, 1)',
                        'rgba(135,206,235, 1)',
                        'rgba(135,206,235, 1)',
                        'rgba(135,206,235, 1)',
                        'rgba(135,206,235, 1)',
                        'rgba(135,206,235, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
      </script>
      <!-- All users topics chart ends here -->

            <!-- All users workouts & topics chart starts here -->
      <script >

        var context_2 = document.getElementById('myChart').getContext('2d');
        var topics = {{ serialized_data | safe}};
        var key_2 = "topic";
        var graph_2 = [topics[key]];
        var count_2 = 0;
        var count_array_2 = [];
        console.log(topics);

        for(var i = 0; i < graph_2.length; i++)
        {
            graph_2[i] = topics[key_2];

        }

        for(var i = 0; i < graph_2[0].length; i++) {
            count_2 += 1;
            console.log(count_2);
            count_array_2[i] = count_2;
        }


        var myData= {{ serialized_data | safe }};
        var key = "workout";
        var current_user = "logged_user";
        var context = document.getElementById('myChart').getContext('2d');

        var graph = [myData[key]];
        var count = 0;
        var count_array = [];

        for(var i = 0; i < graph.length; i++)
        {
            graph[i] = myData[key];

        }

        for(var i = 0; i < graph[0].length; i++) {
            count += 1;
            console.log(count);
            count_array[i] = count;
        }


        var myChart = new Chart(context, {
            type: 'bar',
            data: {
                labels: ["All workouts", "All topics"],
                datasets: [{
                    label: '# of Workouts & Topics from all users',
                    data: [count,count_2],
                    backgroundColor: [
                        'rgba(34, 139, 34, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(34, 139, 34, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
      </script>
<!-- All users workouts & topics chart ends here -->

<!-- Current authenticated users workouts & topics chart starts here -->
      <script >
     
        var context_2 = document.getElementById('myStats').getContext('2d');
        var context = document.getElementById('myStats').getContext('2d');

        var my_info = {{ serialized_data | safe}};
        var key_2 = "my_stats";
        var graph_3 = [my_info[key_2]];
        var count_2 = 0;
        var count_array_2 = [];

        console.log("My stats START: ");
        console.log(graph_3);
        console.log(graph_3[0][1].length);

        topic_data = graph_3[0][0];

        console.log(topic_data);

        workout_data = graph_3[0][1];

        console.log(workout_data);



        var myChart = new Chart(context, {
            type: 'pie',
            data: {
                labels: ["All " + userName + "'s' workouts", "All "  + userName + "'s  topics"],
                datasets: [{
                    label: '# of Workouts & Topics from',
                    data: [workout_data.length,topic_data.length],
                    backgroundColor: [
                        'rgba(34, 139, 34, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(34, 139, 34, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
      </script>

      <!-- Current authenticated users workouts & topics chart ends here -->
    </section>
  </section>
</section>
{% endblock %}
