{% extends "learning_logs/base.html" %}

{% block page_header %}
<div class="jumbotron" id="dark-blue-bg">
    <h1 class="display-4"> The Omni Logger </h1>
<hr>
    <p class="card-header" id="white-bg">A personal logger of anything will track anything you desire and build beautiful charts off of what you log!
        <br> 
        If not already an omni logger than register right below so you can get to logging.</p>
        <br>
    <a class="button-one" href="{% url 'users:register' %}" role="button">Register &raquo;</a>
    <br>
    <br>
    <a class="button-one" href="{% url 'polls:index' %}" role="button">Off to the polls! &raquo;</a>

    
</div>


<div class="container h-100">
    <div class="row align-middle">
      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-1">
          <div class="txt">
            <h1>BRANDING AND </br>
  CORPORATE DESIGN</h1>
            <p>Visual communication and problem-solving</p>
          </div>
          <a href="#">more</a>
          <div class="ico-card">
          <i class="fa fa-rebel"></i>
        </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-2">
          <div class="txt">
            <h1>Web Front-End </br>
  SOLUTIONS</h1>
            <p>How design is implemented on the web.</p>
          </div>
          <a href="#">more</a>
        <div class="ico-card">
          <i class="fa fa-codepen"></i>
        </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-3">
          <div class="txt">
            <h1>UX/UI WEBsite </br>AND MOBILE app</h1>
            <p>User Interface and User Experience Design.</p>
          </div>
          <a href="#">more</a>
        <div class="ico-card">
          <i class="fa fa-empire"></i>
        </div>
        </div>
      </div>
      
    </div>
  </div>
{% endblock page_header %}
