{% extends "learning_logs/base.html" %} {% block page_header %}
<div class="jumbotron" id="dark-blue-bg">
  <h1 class="display-4">The Omni Logger</h1>
  <hr />
  <p class="card-header" id="white-bg">
    A personal logger that will track anything you want and build beautiful
    charts off of the data!
    <br />
    If not already an omni logger than register right below so you can get to
    logging.
  </p>
</div>
{% endblock page_header %} {% block content %}
<div class="container h-100" id="main-card">
  <div class="row align-middle">
    <div class="col-md-6 col-lg-4 column" id="cards">
      <div class="card gr-1">
        <div>
          <h2 style="padding-left: 20px;">Register an account</h2>
          <br/>
          
          <p style="color: white;">
            If you're currently not a member click the link below to
            sign up today.
            <br />
            
          </p>
        </div>
        <a href="{% url 'users:register' %}" role="button" style="color: white; text-align: center; padding-right: 25px;">Register </a>
        <div class="ico-card">
          <i class="fa fa-rebel"></i>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 column">
      <div class="card gr-2">
        <div>
          <h2 style="padding-left: 40px;">Community Polls</h2>
          <br/>
          
          <p style="color: white;">
           Click the link below to vote!
           <br/>
           <br/>
          </p>
        </div>
        <a href="{% url 'polls:index' %}" role="button" style="color: white; text-align: center;">Polls</a>
        <div class="ico-card">
          <i class="fa fa-codepen"></i>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 column">
      <div class="card gr-3">
        <div>
          <h2 style="padding-left: 35px;">Already a Logger?</h2>
          <br/>
          <p style="color: white;">
            Click the link below to log back in!
            <br />
          <br/>
          </p>
        </div>
        <a href="{% url 'users:login' %}" role="button" style="color: white; text-align: center;">Login</a>
        <div class="ico-card">
          <i class="fa fa-empire"></i>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
