{% extends "learning_logs/base.html" %}

{% block page_header %}
<div class="jumbotron" id="dark-blue-bg">
    <h1 class="display-4"> The Omni Logger </h1>
<hr>
    <p class="card-header" id="white-bg">A personal logger that will track anything you want and build beautiful charts off of the data!
        <br> 
        If not already an omni logger than register right below so you can get to logging.</p>

</div>
{% endblock page_header %}
{% block content %}
<div class="container h-100" id="main-card">
    <div class="row align-middle">
      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-1">
          <div class="txt">
            <h1>Register an account</h1>
            <p>If you're currently not a member click the Register link below to sign up today.
              <br>
              <br>
            </p>
          </div>
          <a href="{% url 'users:register' %}" role="button">Register </a>
          <div class="ico-card">
          <i class="fa fa-rebel"></i>
        </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-2">
          <div class="txt">
            <h1>Community Polls</h1>
            <p>Like answering random questions and seeing the results automatically printed in a beautiful chart? Click the link below to vote!</p>
          </div>
          <a  href="{% url 'polls:index' %}" role="button">Off to the polls!</a>
        <div class="ico-card">
          <i class="fa fa-codepen"></i>
        </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-3">
          <div class="txt">
            <h1>Already an Omni Logger</h1>
            <p>Click the link below to log back in!
              <br>
              <br>
              <br>
            </p>
          </div>
          <a href="{% url 'users:login' %}" role="button">Login</a>
        <div class="ico-card">
          <i class="fa fa-empire"></i>
        </div>
        </div>
      </div>
      
    </div>
  </div>
{% endblock content %}
