{% extends "learning_logs/base.html" %} 
{% block page_header %}

<h3>Choose a workout to start</h3>

{% endblock page_header %} 
{% block content %}
{% if user.is_authenticated %}
<div class="container">

  <div class="card">
{% for workout in workouts %}
      {% if workout.id == 1 %}
     
      <h4 class="card-header">
        {{ workout.name }}
      <hr />
      Sets:  {{ workout.sets}}
        <hr class="card-header">
      Reps:  {{ workout.reps }}
        <hr class="card-header">
      </h4> 
      <hr style=" 
      width: 50%;
       margin: auto;
       margin-top: 5%;
       margin-bottom: 5%;
       border: 3px dashed #1A85FD;">
      {% elif workout.id == 2 %}
         
      <h4 class="card-header">
        {{ workout.name }}
        <hr >
      Sets:  {{ workout.sets}}
        <hr class="card-header">
      Reps:  {{ workout.reps }}
        <hr class="card-header">
      </h4>
      <hr style=" 
      width: 50%;
       margin: auto;
       margin-top: 5%;
       margin-bottom: 5%;
       border: 3px dashed #1A85FD;">
      {% elif workout.id == 3 %}
                 
      <h4 class="card-header">
        {{ workout.name }}
        <hr />
      Sets:  {{ workout.sets}}
        <hr class="card-header">
      Reps:  {{ workout.reps }}
        <hr class="card-header">
      {% endif %}
   
    {% endfor %}
  </div>
  <br>


<div></div>
 
   <h3 class="card-header" id="white-bg" >Stopwatch: <span id="seconds"> 00 </span>: <span id="tens">00</span></h3> 
 

  <br />
  <div class="card-header">
      <button class="button-one" id="button-start">Start workout</button>

  <button class="button-one" id="button-stop">Stop workout</button>
 
  <button class="button-one" id="button-reset">Reset workout</button>
 
  </div>

</div>


{% endif %}





<script>

// TODO: For now this JS will be here but it should be moved to external file. I will get static files working in production mode later. 

(function() {

  window.onload = function () {
    var seconds = 00;
    var tens = 00;
    var appendTens = document.getElementById("tens");
    var appendSeconds = document.getElementById("seconds");
    var buttonStart = document.getElementById("button-start");
    var buttonStop = document.getElementById("button-stop");
    var buttonReset = document.getElementById("button-reset");
    var Interval;

    buttonStop.hidden = true;

  

    buttonStart.onclick = function () {
      buttonStart.hidden = true;
      buttonStart.disabled = true;

      buttonStop.hidden = false;
      buttonStop.disabled = false;
      clearInterval(Interval);
      Interval = setInterval(startTimer, 10);
    };

    buttonStop.onclick = function () {

        buttonStop.hidden = true;
        buttonStop.disabled = true;

        buttonStart.hidden = false;
        buttonStart.disabled = false;

      clearInterval(Interval);
    };

    buttonReset.onclick = function () {
     
      
      clearInterval(Interval);
      tens = "00";
      seconds = "00";
      appendTens.innerHTML = tens;
      appendSeconds.innerHTML = seconds;
     
    
    };

    function startTimer() {
      tens++;

      if (tens <= 9) {
        appendTens.innerHTML = "0" + tens;
      }

      if (tens > 9) {
        appendTens.innerHTML = tens;
      }

      if (tens > 99) {
        console.log("seconds");
        seconds++;
        appendSeconds.innerHTML = "0" + seconds;
        tens = 0;
        appendTens.innerHTML = "0" + 0;
      }

      if (seconds > 9) {
        appendSeconds.innerHTML = seconds;
      }
    }
  };


})();

</script>
{% endblock content %}
