{% extends 'learning_logs/base.html' %}
{% block page_header %}
<h3>{{ workout.name }}</h3>
{% endblock page_header %}
{% block content %}

<ul >
    <div class="card mb-3">
        <h4 class="card-header">
            {{ work.date_added|date:'M d, Y H:i' }}
         
        </h4>
        <div class="card-body">
           Sets: {{ workout.sets }}
           <br>
           Reps: {{ workout.reps }}
           <br>
           PR Met Today: {{ workout.pr_met }}
           <br>
           {{workout.date_added}}
            <br>
            
        </div>
        </div>
</ul>
<p><a role="button" class="button-one" href="{% url 'learning_logs:workouts' %}">Back</a></p>

{% endblock content %}